<!DOCTYPE html>
<html>
<head>
    <title>NYU Music Experience Design Lab</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="NYU Music Experience Design Lab">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../shared/img/head/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="57x57" href="../shared/img/head/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../shared/img/head/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../shared/img/head/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../shared/img/head/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../shared/img/head/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../shared/img/head/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../shared/img/head/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../shared/img/head/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../shared/img/head/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../shared/img/head/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../shared/img/head/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../shared/img/head/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../shared/img/head/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">

    <link href="index.css" rel="stylesheet">
</head>
<body>
    <div id="header"></div>
    <main id="page" class="jumbotron"></main>

    <div id="foot"></div>

    <script src="bundle.js"></script>
    <!--TODO: fix when page-specific JS dependencies are working-->
    <script src="../shared/js/vendor/jquery-2.1.3.min.js"></script>
    <script src="../shared/js/vendor/mugcakes/miso.ds.deps.min.0.4.0.js"></script>
    <script src="../shared/js/vendor/mugcakes/mugcakes-templates.js"></script>
    <script src="../shared/js/vendor/mugcakes/mugcakes.js"></script>
</body>
</html>