// colors
$BACKGROUND_PRIMARY: #e8e8e8;
$BACKGROUND_LIGHT: #f1f1f1;

// dimensions
$FOOTER_HEIGHT: 50px;

$BREAKPOINT_M: 720px;
$BREAKPOINT_S: 480px;

// dimensions for video/canvas/title/instructions
$width_default: 500px;
$width_medium: 480px;
$width_small: 320px;